.post_package{position:relative;z-index:1;margin:0 33px 0 35px;}
.post_package:last-child{border-bottom:1px solid #e6e6e6;}
.post_package .post_package_ctrl{height:25px;text-align:right;font-size:0;}
.post_package .post_package_ctrl .unpack{position:relative;display:inline-block;background:url(http://static2.me2day.com/images/post/btn_unpack_on.gif?1384398001) no-repeat 0 0;text-decoration:none;}
.post_package .post_package_ctrl .pack{display:inline-block;margin-left:4px;background:url(http://static1.me2day.com/images/post/btn_pack_on.gif?1384398001) no-repeat 0 0;}
.post_package .post_package_ctrl .unpack:hover img,
.post_package .post_package_ctrl .pack:hover img{visibility:hidden;}
.post_package .post_package_ctrl .unpack_tooltip{visibility:hidden;position:absolute;right:30px;bottom:0;padding-right:4px;background:url(http://static1.me2day.com/images/post/bg_package_info.gif?1384398001) no-repeat 100% center}
.post_package .post_package_ctrl .unpack_tooltip .tooltip_txt{display:inline-block;padding:0 9px;line-height:24px;background:#000;white-space:nowrap;font-size:12px;color:#fff;text-decoration:none;}
.post_package .post_package_ctrl .unpack:hover .unpack_tooltip{visibility:visible;}
.post{zoom:1;min-height:120px;margin:0 34px 0 35px;padding:0;border-bottom:1px solid #e6e6e6;/* 돌아보는 쪽 post 와 같이 적용될 수 있으니 주의할 것 */}
.post:last-child{border-bottom:1px solid #e6e6e6;}
.round_box_1 .post:last-child{border-bottom:0;}
.band_notice_wrap  .post,
.pingback_container .post{border:0;}
.post_package .post{margin:0;border-bottom:0;}
.s_search_result .post,
.contents_list .post{margin:0;}
.post .post_head{position:relative;z-index:2;float:left;padding:20px 0 0 16px}
.post .post_head .writting_date{width:60px;font-size:13px;color:#acacac;font-family:arial;}
.post .post_head .writting_date .w_day{display:block;padding-bottom:3px;text-align:center;font-size:56px;color:#444;line-height:0.75;}
.post .post_head .writting_date .w_mon{margin-right:4px;font-size:13px;color:#333;text-transform:uppercase;}
.post .post_body{position:relative;margin-left:79px;padding:20px 16px 20px 16px;/* float 자동 정렬로 head 공간포함 +10px */}
.pingback_container .post .post_body{padding-right:25px;}
.post:first-child,
.post.no_head{border-top:0;}
.post.no_head .post_body{border-top:1px solid #e6e6e6;}
.post .post_body:after{content:"";display:block;clear:both;height:0;width:0;font-size:0;}
.post .post_body:hover{z-index:1;}
.post .post_body .post_sentiment{position:relative;float:left;left:1px;}

.post .post_body .post_token,
.post .post_body .post_text_body,
.post .post_body .pingback_container .post .post_body .post_token,
.post .post_body .pingback_container .post .post_body .post_text_body,
.post .post_body .post_added,.type_attached,
.post .post_body .post_rcb,
.post .post_body .pingback_container .post .post_body .post_added{margin-left:7px}

.post .post_body.none_icon .post_token,
.post .post_body.none_icon .post_added,
.post .post_body.none_icon .post_text_body,
.post .post_body .pingback_container .post .post_body.none_icon .post_token,
.post .post_body .pingback_container .post .post_body.none_icon .post_text_body,
.post .post_body .pingback_container .post .post_body.none_icon .post_added,
.post .post_body .pingback_container .post .post_body .post_rcb{margin-left:0;}

.post .post_body .post_token{padding-bottom:8px;line-height:1.1;}
.post.for_comment .post_body .post_token{float:left;padding-bottom:0;}
.post.for_comment .pingback_container .post_body .post_token{float:none;padding-bottom:8px;}
.post .post_body .post_token .token_band{display:inline-block;margin-right:14px;padding-left:27px;color:#7b5fbd;white-space:nowrap;text-decoration:none;font-size:12px;background:url(http://static1.me2day.com/images/post/icon_band.png?1384398001) no-repeat 0 2px;}
.post .post_body .post_token .token_comment{display:inline-block;padding-left:23px;color:#7b5fbd;text-indent:-9999px;font-size:12px;background:url(http://static2.me2day.com/images/post/icon_comment.png?1384398001) no-repeat 0 2px;}

.post .post_body .post_sentiment .post_icon_box{position:relative;left:1px;}
.post .post_body .post_sentiment .list_icon_box{position:relative;left:1px;}
.post .post_body .post_sentiment .me2photo{overflow:visible;display:block;width:40px;background:url(http://static2.me2day.com/images/post/bg_photo_t.png?1384398001) no-repeat 0 0;}
.post .post_body .post_sentiment .me2photo.multi{height:47px;border:0;background:url(http://static2.me2day.com/images/post/bg_multi_photo.png?1384398001) no-repeat 0 0;text-decoration:none;}
.post .post_body .post_sentiment .me2photo .addcon{display:block;padding-bottom:6px;font-size:0;background:url(http://static2.me2day.com/images/post/bg_photo_b.png?1384398001) no-repeat 0 100%;}
.post .post_body .post_sentiment .me2photo.multi .addcon{background:none;}
.post .post_body .post_sentiment .me2photo .img_thumb{position:relative;top:2px;left:2px;max-height:60px;}
.post .post_body .post_sentiment .me2photo .contents_ico{position:absolute;bottom:-4px;left:-6px;width:40px;height:20px;text-align:center;color:#bbb;font-size:11px;line-height:19px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.post .post_body .post_sentiment .me2photo .ico_apps{bottom:-19px;left:0;}
.post .post_body .post_sentiment .me2photo .ico_photo{background:url(http://static1.me2day.com/images/post/ico_contents_photo.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo.multi .ico_photo{background:url(http://static2.me2day.com/images/post/ico_contents_multiphoto.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo .ico_movie{background:url(http://static2.me2day.com/images/post/ico_contents_movie2.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo .ico_book{background:url(http://static2.me2day.com/images/post/ico_contents_book2.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo .ico_music{background:url(http://static1.me2day.com/images/post/ico_contents_music2.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo .ico_map{background:url(http://static2.me2day.com/images/post/ico_loc.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo .ico_video{background:url(http://static2.me2day.com/images/post/ico_contents_video2.png?1384398001) no-repeat 0 center;}
.post .post_body .post_sentiment .me2photo .multi_count{text-indent:15px;text-align:left;font-weight:bold;}
.post .post_body .post_sentiment .me2photo .ico_me2day{}
.post .post_body .post_sentiment .sentiment_list{position:absolute;z-index:2;top:40px;left:0;width:216px;border:1px solid #aaa;background:#fff;}
.post .post_body .post_sentiment .sentiment_list.loading{padding:20px 0;background:#fff url(http://static1.me2day.com/images/button/bul_loading_b.gif?1384398001) no-repeat center;}
.post .post_body .post_sentiment .sentiment_list ul{padding:10px 6px 6px 10px;font-size:0;}
.post .post_body .post_sentiment .sentiment_list li{position:relative;display:inline-block;width:50px;height:50px;margin:0;border:0;}
*:first-child+html .post .post_body .post_sentiment .sentiment_list li{display:inline;}
.post .post_body .post_sentiment .sentiment_list li a{position:absolute;left:0;top:0;overflow:hidden;display:inline-block;width:44px;height:44px;border:1px solid #ddd;}
.post .post_body .post_sentiment .sentiment_list li a:hover{width:42px;height:42px;border:2px solid #3f3f3f;}
.post .post_body .post_sentiment .sentiment_list li a:hover img{position:relative;left:-1px;top:-1px;}
.post .post_body .post_sentiment .sentiment_list li img{position:static;}

.post .post_body .post_sentiment .my_icon_list{position:absolute;left:1px;top:38px;width:195px;z-index:2;padding-bottom:0;box-shadow:0 1px 2px rgba(0,0,0,0.2);border:1px solid #acacac;background:#f7f7f7;}
.post .post_body .post_sentiment .my_icon_list .icon_list{overflow:hidden;overflow-y:auto;height:154px;background:#fff;}
.post .post_body .post_sentiment .my_icon_list li{font-size:0;line-height:0;border-bottom:1px solid #f2f2f2;}
.post .post_body .post_sentiment .my_icon_list li a{display:block;height:30px;text-decoration:none;font-size:12px;color:#333;line-height:30px;}
.post .post_body .post_sentiment .my_icon_list li a span{display:inline-block;width:130px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.post .post_body .post_sentiment .my_icon_list li a.installed{background:url(http://static2.me2day.com/images/bul_ico_installed.gif?1384398001) no-repeat scroll 95% center;}
.post .post_body .post_sentiment .my_icon_list img{margin-right:4px;vertical-align:top;}

.post .post_body .post_text_body{min-height:43px;}
.post .post_body .post_text{position:relative;top:-1px;font-size:14px;color:#444;line-height:1.4;word-wrap:break-word;/* 번역글 영역과 동일한 class 니 수정할때 확인해야해 */}
.post .post_body .post_text .additional_post{margin-left:10px;font-size:12px;text-decoration:none;}
.post .post_body .post_text .icon_add_text{vertical-align:middle;}
.post .post_body .post_text .date_time{margin-left:2px;}
.post .post_body .post_text .remove_post{display:inline;margin-left:10px;}
.post .post_body .post_text .remove_post .btn_remove{vertical-align:middle;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";}
.post .post_body:hover .post_text .remove_post .btn_remove{opacity:.5;filter:alpha(opacity=50);-ms-filter:"alpha(opacity=50)";}
.post .post_body .post_text .remove_post .btn_remove:hover,
.post .post_body .post_text .remove_post .btn_remove:focus{opacity:1;filter:alpha(opacity=100);-ms-filter:"alpha(opacity=100)";}
.post .post_body .post_text .me2text{font-size:14px;}
.post .post_body .post_text .me2text a,
.post .post_body .post_text .me2tag_link{color:#e65802;text-decoration:none;font-size:14px;}
.post .post_body .post_text .me2text a:hover{text-decoration:underline;}
.post .post_body .post_text .me2text .sticker{float:left;margin:-10px 0 0 -10px;}
.post .post_body .post_text .me2text.only_sticker .sticker{float:none;vertical-align:bottom;}
.post .post_body .post_text .me2text .write_link{color:#333;}
.post .post_body .post_text .date_time,
.post .post_body .post_tag,
.post .post_body .post_tag .tg,
.post .post_body .post_text .real_name{font-size:12px;color:#888;text-decoration:none;/* 번역글 영역과 동일한 class 니 수정할때 확인해야해 */}
.post .post_body .post_tag{padding-top:4px;word-wrap:break-word;font-size:12px;}
.post.for_comment .post_body .post_tag{min-height:0;padding-top:0;}
.post .post_body .post_tag .edit_tag{margin-right:4px;text-decoration:none;}
.post .post_body .post_tag .edit_tag img{opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";}
.post .post_body .post_tag .edit_tag:hover{text-decoration:none;}
.post .post_body .post_tag:hover .edit_tag img{opacity:.4;filter:alpha(opacity=40);-ms-filter:"alpha(opacity=40)";}
.post .post_body .post_tag .edit_tag:hover,
.post .post_body .post_tag .edit_tag:focus img{opacity:1;filter:alpha(opacity=100);-ms-filter:"alpha(opacity=100)";}
.post .post_body .post_text .date_time:hover,
.post .post_body .post_text .me2tag_link:hover,
.post .post_body .post_text .auto_link:hover,
.post .post_body .post_tag .tg:hover,
.post .post_body .post_translate .trans_tlt1:hover{text-decoration:underline;}
.post .post_body .post_translate{overflow:hidden;zoom:1;margin-top:16px;padding-top:10px;border-top:1px solid #e9e9e9;}
.post .post_body .post_translate .trans_tlt1{float:left;padding-right:10px;font-size:11px;color:#888;text-decoration:none;background:url(http://static1.me2day.com/images/post/icon_arrow_up.png?1384398001) no-repeat 100% center;}
.post .post_body .post_translate .trans_tlt1.toggle{background-image:url(http://static2.me2day.com/images/post/icon_arrow_down.png?1384398001);}
.post .post_body .post_translate .trans_tlt2{float:right;font-size:11px;color:#888;}
.post .post_body .post_translate .post_text{clear:both;margin-left:0;}
.post .post_body .post_translate .post_tag{margin-left:0;}

.post .post_body .tag_edit{position:relative;margin-top:2px;padding-right:76px;font-size:0;}
.post .post_body .tag_edit .input_tag{width:100%;height:17px;border:1px solid;border-color:#d0d0d0 #e4e4e4 #e4e4e4 #d0d0d0;font-size:12px;color:#444;}
.post .post_body .tag_edit .btn_tag{position:absolute;right:0;top:0;font-size:0;}
.post .post_body .tag_edit .btn_tag .btn_type_simple_1{margin:0 0 0 2px;}

.post .post_body .pingback_post{margin-top:4px;padding:8px 14px;border:1px solid #f3f3f3;background:#fafafa;color:#888;font-size:12px;}
.post.for_comment .post_body .pingback_post{position:relative;overflow:hidden;margin-right:75px;}
.post .post_body .post_text_body.is_sticker .pingback_post{clear:both;}
.post.for_comment .post_body .post_rcb .pingback_container .pingback_post{position:static;margin-right:0;}
.post .post_body .pingback_post .pingback_post_body,
.post .post_body .pingback_post .pingback_post_comment{color:#888;text-decoration:none;word-wrap:break-word;}
.post.for_comment .post_body .pingback_post .pingback_post_body{white-space:nowrap;}
.post.for_comment .post_body .pingback_post .pingback_option_link{position:absolute;right:0;top:0;padding-left:32px;background:url(http://static2.me2day.com/images/post/bg_text_ellipsis.png?1384398001) no-repeat 0 center;}
.post.for_comment .post_body .pingback_post .pingback_option_link .option_inner{display:inline-block;padding:8px 14px 8px 3px;background:#fafafa;}
*:first-child+html .post.for_comment .post_body .pingback_post .pingback_option_link .option_inner{display:inline;}
.post.for_comment .post_body .post_rcb .pingback_container .pingback_post .pingback_post_body{white-space:normal;}
.post.for_comment .post_body .post_rcb .pingback_container .pingback_post .pingback_option_link,
.post.for_comment .post_body .post_rcb .pingback_container .pingback_post .pingback_option_link .option_inner{position:static;right:auto;top:auto;padding:0;background:none;}
.post .post_body .pingback_post .pingback_post_writer{color:#e65802;text-decoration:none;}
.post .post_body .pingback_post .pingback_post_body:hover,
.post .post_body .pingback_post .pingback_post_comment:hover,
.post .post_body .pingback_post .pingback_post_writer:hover{text-decoration:underline;}

.post .post_body .post_added{position:relative;zoom:1;display:block;padding-top:10px;}
.post.for_comment .post_body .post_added{padding-top:0;}
.post.for_comment .post_body .post_rcb .pingback_container .post_added{padding-top:10px;}
.post .post_body .post_added .function_item{position:relative;float:left;overflow:hidden;line-height:25px;font-size:12px;}
.post .post_body .post_added .function_item .rcl{display:inline-block;margin-right:12px;padding-left:16px;line-height:17px;white-space:nowrap;color:#888;text-decoration:none;}
.post .post_body .post_added .function_item .rcl:hover{text-decoration:underline;}
.post .post_body .post_added .function_item .item_schedule{padding-left:17px;background:url(http://static2.me2day.com/images/post/ico_schedule.png?1384398001) no-repeat 0 2px;}
.post .post_body .post_added .function_item .item_me2spot{padding-left:15px;background:url(http://static2.me2day.com/images/post/ico_loc.png?1384398001) no-repeat 0 2px;}
.post .post_body .post_added .function_item .item_movie{background:url(http://static2.me2day.com/images/post/ico_contents_movie.png?1384398001) no-repeat 0 1px;}
.post .post_body .post_added .function_item .item_book{background:url(http://static2.me2day.com/images/post/ico_contents_book.png?1384398001) no-repeat 0 2px;}
.post .post_body .post_added .function_item .item_music_album{padding-left:20px;background:url(http://static1.me2day.com/images/post/ico_contents_music.png?1384398001) no-repeat 0 2px;}
.post .post_body .post_added .function_item .item_me2cast{padding-left:17px;background:url(http://static2.me2day.com/images/post/ico_me2cast.png?1384398001) no-repeat 0 2px;}
.post .post_body .post_added .function_link{float:right;padding:0;font-size:12px;cursor:default;}
.post.for_comment .post_body .post_added .function_link{float:none;position:absolute;right:10px;top:-27px;}
.post.for_comment .post_body .post_rcb .pingback_container .post_added .function_link{position:static;right:auto;top:auto;float:right;}
.post .post_body .post_added:after{content:"";display:block;clear:both;height:0;width:0;font-size:0;}
.post .post_body .post_added .metoo_count{display:inline-block;height:25px;font-size:12px;color:#888;line-height:25px;overflow:visible;white-space:nowrap;}
.post .post_body .post_added .metoo_count .friend_metoo{display:inline-block;height:25px;line-height:25px;text-decoration: none;white-space: nowrap;color:#e65802;}
.post .post_body .post_added .metoo_count .friend_metoo:hover{text-decoration:underline;}
.post .post_body .post_added .metoo_count .friend_metoo_nimi{display:inline-block;height:25px;margin-right:4px;line-height:25px;}
.post .post_body .post_added .metoo_count .btn_type_default_4 .btn .label{display:inline-block;vertical-align:middle;line-height:25px;line-height:26px\9;}
/* MOVED .post .post_body .post_added .metoo_count .metoo_count_number{display:inline-block;height:25px;line-height:25px;margin:0 0 0 -4px;padding:0 0 0 5px;vertical-align:top;color:#7b5fd4;text-decoration:none;white-space:nowrap;background:url(http://static1.me2day.com/images/post/bg_me2_count_l.png?1384398001) no-repeat 0 0;} */
*:first-child+html .post .post_body .post_added .metoo_count .metoo_count_number{margin-left:-2px;}
/* MOVED .post .post_body .post_added .metoo_count .metoo_count_number .bg{display:inline-block;position:static;width:auto;height:25px;margin:0;line-height:25px;padding:0 8px 0 6px;vertical-align:top;text-align:center;font-family:tahoma;font-size:11px;font-weight:bold;background:url(http://static2.me2day.com/images/post/bg_me2_count_r.png?1384398001) no-repeat 100% 0;} */
.post .post_body .post_added .comment_toggle{display:inline-block;height:25px;line-height:25px;margin-left:8px;text-decoration:none;color:#999;font-size:12px;vertical-align:top;}
.post.for_comment .post_body .post_added .comment_toggle{height:auto;line-height:19px;}
/*.post .post_body .post_added .comment_toggle:hover{text-decoration:underline;}*/
.post .post_body .post_added .comment_toggle .comment_txt,
.post .post_body .post_added .comment_toggle .comment_num{vertical-align:middle;color:#888;}
.post .post_body .post_added .comment_toggle .comment_num{position:relative;top:-1px;font-family:tahoma;font-size:11px;*vertical-align:bottom;}

.post .post_body .post_rcb{position:relative;z-index:1;overflow:hidden;max-width:641px;/* 좌우 여백 20px씩 포함해서 최대 가로 630px */}
*:first-child+html .post .post_body .post_rcb{font-size:0;}
.post .post_body .embed_contents,
.post .post_body .embed_me2photo{overflow:hidden;position:relative;margin:20px 0 9px 0;}
.post .post_body .embed_me2photo{display:inline-block;}
.post .post_body .embed_me2photo.multi{margin:20px 0 0 0;}
.post .post_body .embed_me2photo .multi_photo_thumb{font-size:0;}
.post .post_body .embed_me2photo .thumb_list{overflow:hidden;display:inline-block;*display:inline;*zooom:1;width:44px;height:44px;margin:0 2px 8px 0;line-height:0;font-size:0;opacity:.4;filter:alpha(opacity=40);-ms-filter:"alpha(opacity=40)";}
.post .post_body .embed_me2photo .thumb_list.select_img{opacity:1;filter:alpha(opacity=100);-ms-filter:"alpha(opacity=100)";}
.post .post_body .embed_me2photo .photo_box{display:inline-block;font-size:0;border:1px solid #e9e9e9;}
.post .post_body .embed_me2photo .photo_box a{font-size:0;}
.post .post_body .embed_me2photo .more_photo{padding:7px 0 0 2px;font-size:12px;}
.post .post_body .embed_me2photo .more_link{color:#666;text-decoration:none;}
.post .post_body .embed_me2photo .more_photo .nickname{color:#ea6300;}

.post_rcb .loading{display:block !important;padding-top:20px;padding-bottom:20px;border:1px solid #f3f3f3;background:url(http://static1.me2day.com/images/button/bul_loading_b.gif?1384398001) no-repeat center !important;}
.post_rcb .load_error1,
.post_rcb .load_error2{display:block !important;padding:36px 0;border:1px solid #f3f3f3;color:#888;}
.post_rcb .load_error1 strong,
.post_rcb .load_error2 strong{display:block;padding-bottom:8px;font-size:14px;text-align:center;}
.post_rcb .load_error1 p,
.post_rcb .load_error2 p{text-align:center;font-size:12px;}

.post_rcb .embed_contents{clear:both;position:relative;margin-top:20px;border:1px solid #f3f3f3;background:#fafafa;}
.post_rcb .embed_contents .data_result{padding:15px 20px 20px;border:0;color:#666;}
.post_rcb .embed_contents.c_map{display:inline-block;}
.post_rcb .embed_contents.c_map .data_result{padding:0;line-height:0;}
.post_rcb .embed_contents.c_map .data_result .something_map{border-bottom:1px solid #e9e9e9;overflow:hidden;font-size:0;}
.post_rcb .embed_contents.c_map .data_result .loc_story{display:inline-block;padding:13px 8px 14px 19px;font-size:12px;background:url(http://static1.me2day.com/images/post/icon_arrow_right.gif?1384398001) no-repeat 100% 19px;}
.post_rcb .embed_contents.c_map .data_result .loc_story .story_num{color:#e85700;text-decoration:none;}
.for_post .post_rcb .embed_contents .data_result{padding-bottom:57px}
.for_post .db_footer{position:absolute;bottom:12px;right:21px}
.post_map_img{border:1px solid #f3f3f3}

.post .post_body .embed_contents.c_map .data_result .map_header{padding:17px 0 0 18px;line-height:1;border-bottom:1px solid #e9e9e9;}
.post .post_body .embed_contents.c_map .data_result .map_header .tt{font-size:14px;color:#444;font-weight:bold;}
.post .post_body .embed_contents.c_map .data_result .map_header .shop_wrap{position:relative;top:1px;margin-left:3px;}
.post .post_body .embed_contents.c_map .data_result .map_header .shop_wrap,
.post .post_body .embed_contents.c_map .data_result .map_header .shop_wrap a,
.post .post_body .embed_contents.c_map .data_result .map_header .shop_wrap span{display:inline-block;vertical-align:top;}
.post .post_body .embed_contents.c_map .data_result .map_header .shop_wrap .coupon{margin-left:4px;}
.post .post_body .embed_contents.c_map .data_result .map_header .shop_id{display:block;color:#E85700;text-decoration:none;font-size:12px;}
.post .post_body .embed_contents.c_map .data_result .map_header .spot_addr{margin:15px 0 20px;font-size:12px;color:#666;padding-left:18px;background:url(http://static1.me2day.com/images/post/ico_loc_2.png?1384398001) no-repeat 2px 0;line-height:13px;}

.post_rcb .embed_contents.c_schedule .data_result{padding:17px 0 0;}
.post_rcb .embed_contents .data_result .result_item{display:inline-block;position:relative;top:5px;width:auto;height:auto !important;margin:0 auto !important;padding:0 !important;font-size:0;border:1px solid #ddd;text-decoration:none;text-align:center;background:none;}
.post_rcb .embed_contents .data_result .result_item:hover{border-color:#fff;}
.post_rcb .embed_contents .data_result .select_one_item{zoom:1;overflow:visible;display:inline-block;width:100%;}
.post_rcb .embed_contents .data_result .db_image{position:relative;z-index:2;float:left;margin-right:19px;font-size:0;}
.post_rcb .embed_contents .data_result .db_image .item_list_wrap a{top:4px;line-height:0;}
.post_rcb .embed_contents .data_result .db_image .item_list_wrap a:hover{border-color:#aaa;}
.post_rcb .embed_contents .data_result .db_image .del_this_item{position:absolute;right:-11px;top:-11px;width:26px;height:26px;}
.post_rcb .embed_contents .data_result .db_cont{position:relative;margin:0;padding:11px 0 0 149px;}
.post_rcb .embed_contents .data_result .db_cont dl{min-height:95px;padding-bottom:9px;}
.post_rcb .embed_contents .data_result .db_cont dl dt{position:relative;padding-bottom:3px;}
.post_rcb .embed_contents .data_result .db_cont dl dt a,
.post_rcb .embed_contents .data_result .db_cont dl dt strong{font-size:14px;font-weight:bold;color:#444;text-decoration:none;}
.post_rcb .embed_contents .data_result .db_cont dl dt .this_item_post{position:absolute;right:0;top:5px;font-size:12px;line-height:18px;}
.post_rcb .embed_contents .data_result .db_cont dl dt .this_item_post a{margin-left:3px;font-size:11px;font-family:tahoma;color:#ea3f22;}
.post_rcb .embed_contents .data_result .db_cont dl dd{margin-top:3px;font-size:12px;line-height:18px;}
.post_rcb .embed_contents .data_result .db_cont dl dd span{margin:0 1px 0 -1px;color:#cecece;}
.post_rcb .embed_contents .data_result .btn_type_default_1{margin:0;}
.post_rcb .embed_contents .data_result .btn_type_default_1 strong{color:#6243a9;}
.post_rcb .embed_contents .data_result .relation_db{display:inline-block;padding:0 6px 34px 0;font-size:12px;background:url(http://static1.me2day.com/images/post/icon_arrow_right.gif?1384398001) no-repeat 100% 5px;}
.post_rcb .embed_contents.c_music .data_result .relation_db{padding-top:1px;padding-bottom:16px;}
.post_rcb .embed_contents .data_result .relation_post{color:#e65802;text-decoration:none}
.post_rcb .embed_contents .data_result .official_me2day{overflow:hidden;zoom:1;margin-top:4px;padding-top:18px;padding-bottom:15px;background:url(http://static1.me2day.com/images/common/ico_official.gif?1384398001) no-repeat 0 0;}
.post_rcb .embed_contents .data_result .official_me2day li{float:left;margin:0 2px 2px 0;font-size:0;}
.post_rcb .embed_contents .data_result .official_me2day li a{font-size:0;}

.post_rcb .music_album{margin:0 0 0 -149px;padding:0 0 32px;}
.post_rcb .music_album .album_list{min-width:340px;width:100%;border-color:#dcdcdc !important;border-right:0 none !important;border-style:solid none none !important;border-width:1px 0 0 !important;}
.post_rcb .music_album .album_list th{padding:3px 0 2px;text-align: center;background:url(http://static2.me2day.com/images/stream/bg_music_box_th.gif?1384398001) no-repeat 0 0;border:1px solid #cfcfcf;color:#929292;font-weight:normal;font-size:11px;letter-spacing: -1px;}
.post_rcb .music_album .album_list td{padding:10px 0 5px;border-bottom:1px solid #e8e8e8;color:#888;font-size:12px;text-align:center;}
.post_rcb .music_album .album_list td img{vertical-align:middle;}
.post_rcb .music_album .album_list .playing{background:#fbfbfb;}
.post_rcb .music_album .album_list .list_check,
.post_rcb .music_album .album_list .list_num{width:28px;text-align:center;}
.post_rcb .music_album .album_list .music_words{width:30px;text-align:center;}
.post_rcb .music_album .album_list .just_one_1_minute{width:52px;}
.post_rcb .music_album .album_list td.just_one_1_minute{text-align:center;}
.post_rcb .music_album .album_list td.just_one_1_minute a{text-decoration: none;}
.post_rcb .music_album .album_list td.title_name{border-bottom:1px #e8e8e8 solid;color:#333;text-align:left;text-indent:5px;}
.post_rcb .music_album .music_control{overflow:hidden;padding:7px 0 0;}
.post_rcb .music_album .music_control .select_naver_music{float:right;color:#757575;font-size:11px;}
.post_rcb .music_album .music_control .select_naver_music span{margin-right:1px;vertical-align:middle;font-size:11px;}
.post_rcb .music_album .music_control .music_check_all{float:left;}
.post_rcb .music_album .music_control .select_music_play{margin-left:6px;}
.post_rcb .music_album .music_control button{letter-spacing:-1px;border:0;text-align:center;}
.post_rcb .music_album .album_list .ico19{display:inline-block;height:14px;margin-right:3px;position:relative;top:1px;width:14px;}
.post_rcb .music_album .album_list .icotitle{display:inline-block;height:5px;margin-right:3px;position:relative;top:-7px;width:23px;}
.post_rcb .music_album .title_name label{display:inline-block;height:14px;}
* html .post_rcb .music_album .title_name label{position:relative;top:-3px;}
:first-child + html .post_rcb .music_album .title_name label{position:relative;top:-3px;}
.post_rcb .music_album .album_list .ico19 img{vertical-align:top;}
.post_rcb .music_album .block_19_layer{position:absolute;padding:8px 10px 7px;background:#fff;border:1px solid #888d95;color:#848689;font-size:11px;letter-spacing:-1px;line-height:15px;}
.post_rcb .music_album .block_19_layer strong{color:#e60808;font-weight:normal;}
.post_rcb .music_album .my_me2_music{color:#744fde;font-weight:bold;}

.post_rcb .embed_contents .data_result .to_myme2 .status{padding-left:17px;background:url(http://static2.me2day.com/images/post/ico_pen.png?1384398001) no-repeat 0 center;}
.post_rcb .embed_contents.c_music .data_result .db_footer{margin-left:-149px;}
.post_rcb .embed_contents .data_result .db_cont .power_by_naver_openapi{position:absolute;right:0;bottom:0;height:20px;}
.post_rcb .embed_contents .data_result .db_paginate{position:absolute;left:0;top:60px;width:100%;padding:0;}
.post_rcb .embed_contents .data_result .db_paginate a{display:block;width:16px;height:24px;}
.post_rcb .embed_contents .data_result .db_paginate a.prev_dbpage{position:absolute;left:99px;}
.post_rcb .embed_contents .data_result .db_paginate a.prev_dbpage:hover{background:url(http://static1.me2day.com/images/write_form/data_result_page_prev2_over.png?1384398001) no-repeat 0 0;}
.post_rcb .embed_contents .data_result .db_paginate a.prev_dbpage:hover img{visibility:hidden;}
.post_rcb .embed_contents .data_result .db_paginate a.next_dbpage{position:absolute;right:19px;}
.post_rcb .embed_contents .data_result .db_paginate a.next_dbpage:hover{background:url(http://static1.me2day.com/images/write_form/data_result_page_next2_over.png?1384398001) no-repeat 0 1px;}
.post_rcb .embed_contents .data_result .db_paginate a.next_dbpage:hover img{visibility:hidden;}
.btn_type_default_1 .btn .label strong{color:#623fac;}
.post_rcb .embed_contents .map_pin_alt{width:123px;padding-top:4px;background:url(http://static1.me2day.com/images/write_form/bg_map_pin_alt_t.png?1384398001) no-repeat 100% 0;}
.post_rcb .embed_contents .bg1{padding-bottom:23px;background:url(http://static1.me2day.com/images/write_form/bg_map_pin_alt_b.png?1384398001) no-repeat 0 100%;}
.post_rcb .embed_contents .bg2{background:url(http://static1.me2day.com/images/write_form/bg_map_pin_alt_m.png?1384398001) repeat-y 100% 0;}
.post_rcb .embed_contents .txt{position:relative;top:10px;line-height:1.1;font-size:12px;padding:0 10px 0 16px;color:#fff;}
.post_rcb .embed_contents .del_this_loc{position:absolute;right:-12px;top:-12px;}
.post_rcb .embed_contents .single_line{width:auto;height:34px;max-width:185px;padding:0 0 0 10px;background:url(http://static1.me2day.com/images/post/bg_map_pin_alt_l.png?1384398001) no-repeat 0 0;}
.post_rcb .embed_contents .single_line .bg1{padding:0 14px 0 10px;background: url(http://static2.me2day.com/images/post/bg_map_pin_alt_r.png?1384398001) no-repeat 100% 0;}
.post_rcb .embed_contents .single_line .bg2{background:none;padding:0;}
.post_rcb .embed_contents .single_line .txt{overflow:hidden;position:relative;top:0;padding:0;color:#fff;font-size:12px;line-height:34px;text-overflow:ellipsis;white-space:nowrap;}

.post_rcb .embed_contents.c_schedule .schedule_notice{padding:0 20px 15px;color:#666;}
.post_rcb .embed_contents.c_schedule .schedule_title{font-weight:bold;font-size:14px;color:#444;}
.post_rcb .embed_contents.c_schedule .schedule_date{padding:13px 0 0 17px;font-size:12px;color:#666;background:url(http://static1.me2day.com/images/post/ico_clock.png?1384398001) no-repeat 0 15px;}
.post_rcb .embed_contents.c_schedule .schedule_date .time{}
.post_rcb .embed_contents.c_schedule .schedule_loc{padding:3px 0 0 17px;font-size:12px;background:url(http://static1.me2day.com/images/post/ico_loc2.png?1384398001) no-repeat 2px 5px;}
.post_rcb .embed_contents.c_schedule .schedule_loc a{text-decoration:none;color:#666;}
.post_rcb .embed_contents.c_schedule .schedule_by{padding-top:1px;font-size:12px;}
.post_rcb .embed_contents.c_schedule .schedule_by .by_who{color:#e65802;text-decoration:none;}
.post_rcb .embed_contents.c_schedule .schedule_join{overflow:hidden;zoom:1;position:relative;padding:0 20px 13px;}
.post_rcb .embed_contents.c_schedule .join_friends_img{float:left;margin-right:6px;}
.post_rcb .embed_contents.c_schedule .join_friends_img .img_list{float:left;margin-right:2px;}
.post_rcb .embed_contents.c_schedule .join_member_num{padding:6px 0 0;font-size:12px;color:#444358;}
.post_rcb .embed_contents.c_schedule .join_story{display:inline-block;padding:17px 6px 16px 19px;font-size:12px;background:url(http://static1.me2day.com/images/post/icon_arrow_right.gif?1384398001) no-repeat 100% center;}
.post_rcb .embed_contents.c_schedule .join_story .story_num{color:#e85700;text-decoration:none;}
.post_rcb .embed_contents.c_schedule .something_map{position:relative;overflow:hidden;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;font-size:0;line-height:0;}

.post_img_area{margin-top:20px;padding-bottom:8px}
.post_img_view{border:1px solid #e9e9e9}
.post_img_wri{margin-top:16px;padding-left:3px}
.post_img_wri a{font-size:12px;color:#666;text-decoration:none}
.post_img_wri em{color:#ea6300}

.post .post_body .metoo_list{overflow:hidden;zoom:1;margin-top:17px;padding:20px 20px 20px 24px;background:#fafafa;border:1px solid #f3f3f3;}
.post .post_body .metoo_list li{float:left;margin:0 2px 2px 0;font-size:0;}
.post .post_body .metoo_list li a{display:inline-block;}
.post .post_body .metoo_list .list_navigation{position:relative;top:13px;}
.post .post_body .list_navigation{clear:both;padding:0 0 1px 0;text-align:right;}
.post .post_body .list_navigation .navigation_next{display:inline-block;width:18px;height:18px;background:url(http://static1.me2day.com/images/post/btn_navigation_l_d.gif?1384398001) no-repeat 0 0;}
.post .post_body .list_navigation .navigation_prev{display:inline-block;width:18px;height:18px;background:url(http://static2.me2day.com/images/post/btn_navigation_r_d.gif?1384398001) no-repeat 0 0;}
.post .post_body .list_navigation .navigation_next img,
.post .post_body .list_navigation .navigation_prev img{vertical-align:top;}
.post .post_body .list_navigation .navigation_next.disabled img,
.post .post_body .list_navigation .navigation_prev.disabled img{opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";}

.comment_list{position:relative;margin-top:20px;padding:20px 0;font-size:12px;background:#fafafa;border:1px solid #f3f3f3;}
.comment_list .comment_item{position:relative;zoom:1;padding-top:1px;}
.comment_list .comment_item:after{content:"";display:block;clear:both;height:0;width:0;font-size:0;}
.comment_list .comment_item.master_comment{background:#f1f1f1;}
.comment_list .comment_item .comment_author{float:left;width:76px;text-align:right;}
.comment_list .comment_item .comment_author a,
.comment_list .comment_item .comment_text a,
.comment_list .comment_item .link_text{color:#e65802;text-decoration:none;}
.comment_list .comment_item .comment_text .write_link{color:#888;}
.comment_list .comment_item .comment_text .write_link:hover{text-decoration:underline;}
.comment_list .comment_item .comment_body{position:relative;display:inline-block;/*padding-left:86px;padding-right:20px;*/text-align:left;color:#888;}
.comment_list .comment_item .comment_body .comment_time{font-size:11px;color:#aaa;margin-left:13px;}
.comment_list .comment_item .comment_setting{position:relative;top:1px;width:10px;height:10px;line-height:1;}
.comment_list .layer_comment_setting{position:absolute;z-index:2;border:1px solid #888;background:#fff;}
.comment_list .layer_comment_setting a{display:block;height:23px;padding:0 8px 0 9px;font-size:12px;line-height:22px;text-align:center;color:#666;text-decoration:none;}
.comment_list .layer_comment_setting button{font-size:12px;}
.comment_list .layer_comment_setting .delete_comment{display:block;height:23px;padding:0 8px 0 9px;line-height:22px;text-align:center;color:#666;text-decoration:none;border:0;background:none;}
.comment_list .layer_comment_setting .delete_comment:hover,
.comment_list .layer_comment_setting a:hover{background:#ebebeb;}
.comment_list .comment_item .reply_comment{position:relative;top:2px;overflow:hidden;display:inline-block;width:16px;height:11px;margin-left:4px;text-indent:-9999px;background:url(http://static2.me2day.com/images/post/reply_comment_on.png?1384398001) no-repeat 0 0;}
.comment_list .comment_item .reply_comment,
.comment_list .comment_item .comment_setting{opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";}
.comment_list .comment_item .reply_comment.checked{background-image:url(http://static2.me2day.com/images/post/reply_comment_checked.png?1384398001);opacity:1;filter:alpha(opacity=100);-ms-filter:"alpha(opacity=100)";}
.comment_list .comment_write{overflow:hidden;zoom:1;padding:4px 20px 0 0;}
.comment_list .comment_write .comment_author{float:left;width:76px;height:20px;line-height:21px;text-align:right;}
.comment_list .comment_write .comment_body{display:block;padding-left:86px;padding-right:1px;}
.comment_list .comment_write .comment_body_input_wrap{overflow:hidden;padding:5px 5px 0 5px;font-size:0;border:1px solid;border-color:#dbdbdb #ebebeb #ebebeb #dbdbdb;background:#fff;}
.comment_list .comment_write .comment_body_input{width:100%;height:23px;resize:none;outline:none;border:0;font-size:12px;}
.comment_list .comment_write .comment_func{height:25px;padding-top:5px;line-height:24px;text-align:right;}
.comment_list .comment_write .comment_func .pingback_check,
.comment_list .comment_write .comment_func .pingback_label{vertical-align:middle;}
.comment_list .comment_write .comment_func .pingback_label{position:relative;top:1px;}
.comment_list .list_navigation{margin-top:10px;text-align:right;}
.discovery_wrap .comment_list .list_navigation{padding-right:20px;}
.comment_list .list_navigation a{text-decoration:none;}

.post .post_body .pingback_container{position:relative;margin-top:17px;font-size:12px;background:#fff;border:1px solid #e9e9e9;}
.post .post_body .pingback_container .post .post_body{border-bottom:0;}
.post .post_body .pingback_container .post{margin:0;}
.post .post_body .pingback_container .post_text{margin-right:13px;}
.post .post_body .pingback_container .post_rcb{margin-left:-80px;}

.post .post_body .post_report{display:none;position:absolute;left:-9999px;top:0;height:17px;padding-right:24px;text-decoration:none;color:#787878;font-size:11px;background:url(http://static2.me2day.com/images/post/icon_report.gif?1384398001) no-repeat 100% 0;}
.post .post_body:hover .post_report,
.post .post_body .post_report:focus{left:auto;right:0;}

.post .post_body .quickview_mode{display:none;position:absolute;right:-29px;top:0;width:31px;height:85px;border:0 !important;}
.round_box_1 .post .post_body .quickview_mode,
#me2search_content .post .post_body .quickview_mode{display:none;}
.post .post_body .quickview_mode .mode_img{position:absolute;top:30px;right:0;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";-moz-transition:opacity 0.1s ease-in-out;-webkit-transition:opacity 0.1s ease-in-out;transition:opacity 0.1s ease-in-out;}
.post .post_body .pingback_container .quickview_mode{z-index:2;right:0;top:0;height:66px;padding-bottom:5px;}
.post .post_body:hover .quickview_mode{background:url(http://static2.me2day.com/images/post/bg_quickview.png?1384398001) no-repeat right 30px;}
.post .post_body .quickview_mode.loading{background:url(http://static2.me2day.com/images/post/bg_quickview7.gif?1384398001) no-repeat right 30px;}
.post.select .post_body .quickview_mode{background:url(http://static1.me2day.com/images/post/bg_quickview2.png?1384398001) no-repeat right 30px;}
.post .post_body:hover .pingback_container .post_body .quickview_mode{background:none;}
.post .post_body .pingback_container .post_body:hover .quickview_mode{background:url(http://static2.me2day.com/images/post/bg_ping_quickview.png?1384398001) no-repeat right 20px;}
.post .post_body .pingback_container .post_body .quickview_mode.loading{background:url(http://static2.me2day.com/images/post/bg_quickview7.gif?1384398001) no-repeat right 20px;}
.post .post_body .pingback_container .post.select .quickview_mode{background:url(http://static2.me2day.com/images/post/bg_ping_quickview2.png?1384398001) no-repeat right 20px;}
.post.select .post_body .pingback_container .quickview_mode{background:none;}

/* fallback page */
.fallback_page{padding:40px 35px 0;}
.fallback_page .fallback_title{font-size:14px;}
.fallback_page .fallback_title a{color:#e65802;font-size:14px;}

.comment_list{padding-top:0;padding-bottom:15px;border:1px solid #e9e9e9;}
.second_section .comment_list{position:relative;margin-top:-9px;}
.comment_list .comment_item{padding-top:3px;padding-bottom:5px;border-bottom:1px solid #f4f3f3;}
.discovery_wrap .comment_list .comment_item{padding-right:15px;}
.comment_list .comment_item:last-child{border-bottom:0;}
.comment_list .comment_item .comment_author{float:none;width:auto;display:block;position:relative;top:2px;padding-left:55px;padding-right:20px;padding-bottom:1px;text-align:left;}
.comment_list .comment_item .comment_author a{color:#333;font-weight:bold;}
/*.comment_list .comment_item .comment_body{padding-left:55px;}*/
.comment_list .comment_item .comment_body .comment_text{line-height:16px;}
.comment_list .comment_item .comment_body .comment_text .para{position:relative;top:2px;padding-bottom:3px;margin:0 20px 0 55px;}
.comment_list .comment_write{position:relative;padding-top:11px;padding-right:14px;}
.discovery_wrap .comment_list .comment_write{padding-right:18px;}
.comment_list .comment_item .comment_profile,
.discovery_wrap .comment_list .comment_item .comment_profile{position:absolute;z-index:2;left:15px;top:9px;}
.comment_list .comment_write .comment_profile,
.discovery_wrap .comment_list .comment_write .comment_profile{position:absolute;left:15px;top:11px;}
.comment_list .comment_write .comment_author{float:none;width:auto;}
.comment_list .comment_write .comment_body{padding-left:55px;}
.comment_list .comment_write .comment_func .btn_type_default_1{margin:0 1px;}
.comment_list .comment_item .comment_body .comment_time{margin-left:6px;white-space:nowrap;}
.comment_list .comment_item .reply_comment{margin-left:2px;}
.comment_list .comment_item.master_comment{background:#f4f3f3;}
.post .post_body .list_navigation{padding-right:15px;}

/* Sticker Comment Override */
.comment_list .comment_item .comment_body{width:100%;}
.comment_list .comment_item .comment_body .sticker{float:left;position:relative;left:55px;top:-5px;margin-left:-10px;margin-right:55px;margin-bottom:-10px;}
.comment_item .comment_time{margin-left:5px;color:#aaa;font-size:11px;}
.comment_list .comment_item .comment_body .comment_time{position:absolute;top:-16px;right:15px;}
.discovery_wrap .comment_list .comment_item .comment_body .comment_time{right:5px;}

.type_attached{float:left;width:70%}
.type_attached a{display:inline-block;padding:2px 0 0;margin:0;font-size:12px;color:#888;text-decoration:none;background:url(../img/sp_attachment.gif) no-repeat}
.type_attached .post_movie{padding-left:16px;background-position:-1px 1px}
.type_attached .post_map{padding-left:13px;background-position:0 -20px}
.type_attached .post_book{padding-left:16px;background-position:0 -44px}
.type_attached .post_music{padding-left:20px;background-position:0 -67px}